* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  animation: gradient 10s ease alternate infinite;
  background: linear-gradient(-45deg, #210332, #000017, #000000) no-repeat;
  background-size: 300% 300%;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes gradient {
  from {
    background-position: 0 50%;
  }

  to {
    background-position: 100% 50%;
  }
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 400px;
  padding: 0;
}

li {
  width: 600px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(205, 205, 205, 0.144);
  border-radius: 10px;
}

li:hover {
  background: #ffffff11;
  transition: .7s ease-in-out;
}

.bi {
  padding-right: 25px;
}

.bi-github {
  color: #ffffff;
}

.bi-linkedin {
  color: #0040ff;
}

.bi-whatsapp {
  color: rgb(23, 232, 0);
}

.bi-envelope-at-fill {
  color: #0040ff;
}

li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  text-transform: capitalize;
  font-family: sans-serif;
}

@media (min-width: 344px) and (max-width:767px) {

  li {
    width: 300px;
  }
}